
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:9.0.4-jdk-browsers
    steps:
      - run: sudo apt-get install ruby-full
      - run: sudo gem install bundler
      - checkout
      - run: mkdir test-reports
      - run:
          name: Download Selenium
          command: curl -O http://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.141.59.jar -log test-reports/selenium.log
          background: true
      - run: mvn test
      - run:
          name: Save test results
          command: |
            mkdir -p ~/test-results/junit/
            mkdir -p ~/test-results/html/
            find . -type f -regex ".*/target/surefire-reports/.*xml" -exec cp {} ~/test-results/junit/ \;
            cd target/cucumber-reports/advanced-reports/extentreports
            cp extent.html ~/test-results/html
          when: always
      - store_test_results:
          path: ~/test-results/junit
      - store_artifacts:
          path: ~/test-results/html
