
version: 2.1
jobs:
  build:
    docker:
      - image: circleci/openjdk:9.0.4-jdk-browsers
    steps:
      - checkout
      - run: mkdir test-reports/
      - run: mkdir test-reports/results
      - run: mkdir test-reports/reports  
      - run:
          name: Download Selenium
          command: curl -O http://selenium-release.storage.googleapis.com/3.141/selenium-server-standalone-3.141.59.jar
      - run:
          name: Start Selenium
          command: java -jar selenium-server-standalone-3.141.59.jar -log test-reports/selenium.log
          background: true
      - run: mvn test
      - run:
          name: Save test results
          command: |
            cp -avr target/cucumber-reports/ ~/test-reports/reports
           
            cp target/surefire-reports/TEST-runner.RunCucumberTest.xml ~/test-reports/results
          when: always
      - store_test_results:
          path: ~/test-reports/results
      - store_artifacts:
          path: ~/test-reports/reports
